---
import AboutMe from "../components/AboutMe.astro";
import Hero from "../components/Hero.jsx";
import Navbar from "../components/Navbar/Navbar.jsx";
import WorkExp from "../components/WorkExp";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Felix Fernando's Portofolio</title>
    </head>
    <body
        class="bg-main text-textmain overflow-x-hidden font-nunitoSans scroll-smooth"
    >
        <Navbar client:load />
        <Hero client:load />
        <AboutMe />
        <WorkExp client:load />
    </body>
</html>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&family=Source+Sans+Pro:wght@700&display=swap");
</style>
