---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Felix Fernando's Portofolio</title>
    </head>
    <body class="bg-main text-textmain">
		<Navbar></Navbar>
		<Hero></Hero>
    </body>
</html>
