---
import AboutMe from "../components/AboutMe.astro";
import BlurCircle from "../components/BlurCircle/BlurCircle";
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.jsx";
import Navbar from "../components/Navbar/Navbar.jsx";
import WorkExp from "../components/WorkExp";
import Works from "../components/Works/Works";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Felix Fernando's Portofolio</title>
    </head>
    <body
        class="bg-main text-textmain overflow-x-hidden font-nunitoSans scroll-smooth w-screen"
    >
        <div class="hidden md:block">
            <Navbar client:visible />
            <Hero client:visible />
            <AboutMe />
            <WorkExp client:load />
            <Works client:visible />
            <Contact />
        </div>
        <div class="block md:hidden">
            <div
                class="h-screen w-screen overflow-hidden flex justify-center items-center"
            >
                <h1 class="font-regular text-xl w-7/12 text-center">
                    currently the
                    <span class="text-accent font-black"> mobile version</span>
                    is not available yet, sorry for the inconvinience.
                </h1>
                <BlurCircle
                    classes={"h-[40vh] w-[40vh] top-[50%] left-[-10%] z-10"}
                />
                <BlurCircle
                    classes={"h-[50vh] w-[50vh] top-[0%] right-[-15%] z-10"}
                />
            </div>
        </div>
    </body>
</html>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&family=Source+Sans+Pro:wght@700&Roboto+Mono:wght@700&display=swap");
</style>
