---
const { classes } = Astro.props;
---

<div class=`${classes} circle`></div>

<style lang="scss">
    @keyframes pulse {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0.1;
        }
    }

    .circle {
        animation: pulse 5s infinite alternate-reverse;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        position: absolute;
        border-radius: 100%;
        background: rgba(255, 151, 95, 0.1);
        filter: blur(50px);
        z-index: -99;
    }
</style>
