---
---

<footer class="w-screen h-fit py-4">
    <div class="w-5/6 mx-auto text-sm flex items-end gap-2">
        <div class="w-fit h-full">
            <p class="font-robotoMono">Developed and Designed</p>
            <p class="font-robotoMono">
                by <span class="text-accent">Felix Fernando</span> - <span
                    class="font-bold">2023</span
                >
            </p>
        </div>
        <div class="h-[1px] flex-grow bg-white mb-2"></div>
    </div>
</footer>
