---
import Button from "./Button.astro";
---

<div class="h-screen w-screen flex flex-col items-center justify-center gap-4">
    <div>
        <p class="font-black text-xs flex gap-2 items-center">
            <span class="px-1.5 py-0.5 bg-white text-main">HELLO.</span> my name
            is
        </p>
        <div class="text-center">
            <h1 class="font-black text-5xl">Felix Fernando</h1>
            <h2 class="font-medium tracking-widest">Frontend Developer</h2>
        </div>
    </div>
    <a href="/">
        <Button title="resume." />
    </a>
</div>
