---
---

<nav class="fixed left-1/2 translate-x-[-50%]">
    <ul class="text-textmain font-black flex gap-12 mt-10">
        <li class="links">
            <a href="">works<span class="text-accent">.</span></a>
        </li>
        <li class="links">
            <a href="">contact<span class="text-accent">.</span></a>
        </li>
        <li class="links">
            <a href="">about<span class="text-accent">.</span></a>
        </li>
    </ul>
</nav>

<style lang="scss">
    .links {
        width: fit-content;

        &::after {
            transition: 0.25s;
            content: "";
            position: fixed;
            bottom: -6px;
            left: 0;
            width: 0%;
            height: 4px;
            background-color: white;
        }
        &:hover {
            &::after {
                transition: 0.25s;
                width: 100%;
            }
        }
    }
</style>
