---
import { Icon } from "astro-icon";
const { name, color, icon } = Astro.props;
---

<div class=`${color === "main" ? "text-accent" : ""} flex gap-2 items-center`>
    <Icon name={`${icon}`} />
    <div
        class=`py-[2px] px-2 font-bold border-[1px] rounded-md font-robotoMono ${ color === "main" ?"border-accent" :"border-white"}`
    >
        {name}
    </div>
</div>

<style lang="sass">
    [astro-icon]
        width: 1.5rem
</style>
